@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body{
  font-size: 16px;
}

.container {
  max-width: 1000px;
}

/* Navbar */

.navbar {
  position: absolute; 

}

.btn-link {
  background-color: white;
  color: #ff4457;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  text-decoration: none;
  border-radius: 24px;
  width: 100px;  
}

.btn-link:hover{
  background-color: hsl(0, 0%, 100%, 0.42);
  color: #fe8c71;
}

.navbar-nav > li {
  margin: 0 20px;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
}


/* Showcase Area */

.hero {
  border-radius: 0 0 0 140px;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: auto;
  min-height: 70vh;
  background: linear-gradient(to right, #fe8c71, #ff4457);
}

.hero * {
  z-index: 2;
  position: relative;
}

.hero .container h1{
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}

.hero .container p{
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
}

.header-bg {
  position: absolute;
  right: -380px;
  top: -500px;
  width: 1500px;
  z-index: 1;
}

/* Styling Showcase button */
.btn-light {
  border-radius: 24px;
  color: hsl(355, 100%, 74%);
  width: 140px;
}

.btn-info {
  background-color: hsla(0, 0%, 100%, 0.42);
  color: white;
  border: 0.5px solid white;
  border-radius: 24px;
  width: 140px;
}

.btn-info:hover{
  background-color: white;
}

.hero span {
  margin-top: 30px;
  
}
@media screen and (max-width: 460px) {
  .hero span{
    margin: 0 auto;
  } 
}

/* Second session */
.heading {
  color: rgb(58, 75, 91);
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}

.section-2 {
  padding: 10rem 0 0;
  overflow-x: hidden;
  width: 100%;
  z-index: 2;
}

.section-2 h3 {
  margin-bottom: 6rem;
}

.section-2 .image {
  position: relative;
  top: -200px;
  right: -25%;
  width: 175%;
}

.section-2 .image2 {
  display: none;
}

@media (max-width: 991px) {
  .section-2 {
    padding: 6rem 0;
  }
  .section-2 .image {
    display: none;
    padding: 3rem 0 0;
  }
  .section-2 .image2 {
    display: block;
    width: 100%;
  }
}

/* Section three */

.section-3 {
  position: relative;
  background-color: hsl(237, 23%, 32%);
  min-height: 400px;
  border-radius: 0px 50px 0px 50px;
  background-image: url(/images/bg-pattern.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 60%;
}

.section-3 * {
  z-index: 2;
  position: relative;
}

.phone-image {
  position: absolute;
  top: -70px;
  right: 20px;
  left: -50px;
  width: 110%;
}

@media screen and (max-width: 767px) {
  .section-3 .left img {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    margin-top: -50%;
  }
  .section-3 {
    margin-top: 20rem;
    background-position: left -100%;
    background-size: 100%;
  }
}

/* Session four */

.section-4 {
  padding-top: 11rem;
  overflow-x: hidden;
  width: 100%;
  z-index: 2;
}

.section-4 .laptop-pattern {
  position: relative;
  right: 120%;
}

.section-4-text {
  margin-left: -25px;
  padding-top: 3rem;
}

.section-4 .laptop-pattern-2 {
  display: none;
}

/* Mobile Version */


@media (max-width: 991px) {

  .section-4{
    padding: 4rem 1rem; 
  }
  .section-4 .laptop-pattern{
    display: none;
    padding: 5rem 0 0 0;
  }

  .section-4 .laptop-pattern-2{
    display: block;
    width: 100%;
    margin-top: 5rem;
  }
}


/* Footer */
footer{
  background-color: hsl(240, 10%, 16%);
  border-radius: 0px 50px 0px 0px;
}

#footer-logo{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

footer ul{
  list-style-type: none;
}

footer ul li{
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  
}

@media screen and (max-width: 767px) {
  footer .conatainer{
    padding: 10rem 0;
  }
  .footer-header{
    font-size: 24px;
  }
  
}
